---
layout: noticia.njk
title: Título directo con Nunjucks
date: 2023-01-01
excerpt: Excerpt directo
image: /imagenes/clara.jpg
permalink: /test-directo-noticia/
---

<p>Este es el contenido directamente desde un .njk (sin Markdown).</p>
