{% extends "layouts/base.njk" %}

{% block content %}
<section class="seccion-actualidad">
  <h2 class="titulo-seccion" style="margin-bottom: 1rem;">Noticias recientes del Monasterioo</h2>

  <div class="noticias-intro" style="margin-bottom: 2rem;">
    {{ content | safe }}
  </div>

  <div class="noticias-grid">
    {% for post in collections.noticias | reverse %}
    <article class="noticia" data-aos="fade-up">
      <a href="{{ post.url }}" class="noticia-imagen-link">
        <img src="{{ post.data.image }}" alt="{{ post.data.title }}">
      </a>
      <div class="noticia-contenido">
        <h3 class="noticia-titulo"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
        <p class="noticia-fecha"><em>{{ post.date | readableDate }}</em></p>
        <p class="noticia-extracto">{{ post.data.excerpt }}</p>
        <a href="{{ post.url }}" class="boton boton-lectura">Leer más</a>
      </div>
    </article>
    {% endfor %}
  </div>
</section>
{% endblock %}
