{% extends "layouts/base.njk" %}

{% block content %}
<p style="background: red; color: white;">✅ LAYOUT APLICADO</p>
<p>Title: {{ title }}</p>
<p>Date: {{ date }}</p>
<p>Excerpt: {{ excerpt }}</p>
<p>Image: {{ image }}</p>
<p>{{ content | safe }}</p>
{% endblock %}
