{% extends "layouts/base.njk" %}

{% block content %}
<article class="noticia-detalle" data-aos="fade-up">

  <h2 class="noticia-detalle-titulo centrado">{{ title }}</h2>

  <p class="noticia-detalle-fecha centrado">
    <em>{{ date | readableDate }}</em>
  </p>

  {% if image %}
    <img src="{{ image }}" alt="{{ title }}" class="noticia-detalle-imagen">
  {% endif %}

  {% if excerpt %}
    <p class="noticia-detalle-excerpt centrado">
      {{ excerpt }}
    </p>
  {% endif %}

  <div class="noticia-detalle-cuerpo">
    {{ content | safe }}
  </div>

</article>
{% endblock %}
